.btn {
	background: #fff;
	border: 2px solid #fff;
    padding: 0.8rem 1.6rem;
	border-radius: 4px;
	color: $primary-color;
	font-weight: 500;
	text-decoration: none;
    display: inline-block;
    align-content: center;
    transition: all 0.3s;

    &:hover {
    	box-shadow: 2px 2px 8px 0px rgb(83 14 7 / 50%);	
    }

    i.icon {
    	color: $primary-color;
    	margin-right: 0.5rem;
		font-size: 1.2rem;
    	line-height: 1rem;
    	vertical-align: middle;
		transition: all 0.3s;
    }

    & + .btn {
    	margin-left: 1rem;
    }

    &.btn-small {
	    padding: 0.5rem 1.2rem;
    }

    &.btn-outline {
    	background: transparent;
    	color: #fff;

	    i.icon {
	    	color: #fff;
	    }

	    &:hover {
	    	background: #fff;
	    	color: $primary-color;

		    i.icon {
		    	color: $primary-color;
		    }
	    }
    }

	&.btn-primary{
		width: 30%;
		height: 40px;
		background: linear-gradient(90deg, rgba(230,84,90,1) 0%, rgb(215, 85, 56) 96%);
		color: #fff;
		font-weight: 400;
		text-align: center;
		border: none;
		border-radius: 2px;
	}
}


@media screen and (max-width: 426px) {
	.btn {
		&.btn-small {
	    	padding: 0.3rem 0.8rem;
		}
	}
}