#home {
    height: 100vh;
    max-height: 680px;
    background: #fff;
    position: relative;

    .inner {
    	position: relative;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-content: center;
	    padding-bottom: 100px;
    	height: 80vh;
    	max-height: 544px;

		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e4505d+0,f36c4c+100 */
		background: rgb(228,80,93); /* Old browsers */
		background: -moz-linear-gradient(45deg,  rgba(228,80,93,1) 0%, rgba(243,108,76,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  rgba(228,80,93,1) 0%,rgba(243,108,76,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg,  rgba(228,80,93,1) 0%,rgba(243,108,76,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4505d', endColorstr='#f36c4c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	    &:after {
	    	content: "";
	    	display: block;
	    	width: 100%;
	    	height: 200px;
	    	background: url('images/home-cutout.svg');
	    	background-size: cover;
	    	position: absolute;
    		bottom: -2px;
	    	left: 0;
	    }
    }


    h1 {
    	color: #fff;
    	margin-bottom: 4rem;

    	span {
    		font-style: italic;
    		position: relative;

		    &:after {
		    	content: "";
		    	display: block;
		    	width: 100%;
		    	height: 2px;
		    	background: #fff;
		    	position: absolute;
		    	bottom: 0;
		    	left: 0;
		    }
    	}
    }

    .weird-phone-thingy {
    	position: absolute;
    	bottom: 4rem;
    	left: 50%;
    	margin-left: -60px;
    	width: 120px;
    	z-index: 2;
    }

    .scroll-btn {
	    position: absolute;
	    bottom: 0;
	    left: 50%;
	    margin-left: -20px;
	    cursor: pointer;
	    animation: punch 3s infinite;
		a{
			text-decoration: none;
		}

	    .icon-angle-down {
	    	font-size: 2.5rem;
	    	color: $primary-color;
	    }
    }
}

@media screen and (min-width: 1440px) {
	#home {
	    .inner:after {
    		height: 260px;
	    }
	}
}


@media screen and (max-width: 1024px) {
	#home {
		h1 {
			max-width: 320px;
			margin-left: auto;
			margin-right: auto;
    		margin-bottom: 3rem;

			span {
				display: block;
			}
		}

		.inner:after {
    		height: 150px;
		}
	}
}


@media screen and (max-width: 426px) {

	#home {
		h1 {
			max-width: 270px;
    		font-size: 2.3rem;
		}

		.inner:after {
    		height: 90px;
		}

		.weird-phone-thingy {
			width: 100px;
			margin-left: -50px;
		}
	}
}